@font-face {
    font-family: 'OldLondon';
    src: url('fontes/old-london/OldLondon.ttf');
    
}
@font-face {
    font-family: 'Cheltenham';
    src: url('fontes/cheltenham/cheltenham.otf');
}


* {
    margin: 0px;
    padding: 0px;
    
}

:root {
    --rosa-claro: #F26B83;
    --rosa: #d84d64;
    --rosa-escuro: #8C3048;
    --tema-body: white;
    --tema-header: #cfd6e4;
    --tema-novidades: #cfd6e4;
    --letra-novidades: black;
    --branco: #F0F2F2;
    --cinza: #5b606b;
    --letra-tema: white;
    --fundo-tema: #1a1c22;
    --letra-conteudo: black;
    --letra-conteudo-esquerda: black;
    --fundo-footer: #cfd6e4;

    --fonte-logo: 'OldLondon', sans-serif, 'cursive';
    --fonte-padrao: 'Cheltenham', Times New Roman, monospace, Arial, sans-serif, 'cursive';
    --fonte-destaque: 'Bebas Neue', sans-serif, 'cursive';
    --fonte-destaque2: 'Montserrat', sans-serif, 'cursive';

}
.dark{
    --tema-header: #1a1c22;
    --tema-novidades: #1a1c22;
    --letra-tema: black;
    --letra-novidades: white;
    --tema-body: #252931;
    --letra-conteudo: white;
    --letra-conteudo-esquerda: white;
    --fundo-tema: #cfd6e4;
    --fundo-footer: #1a1c22;
    --cinza: #cfd6e4;
}

body {
    background-color: var(--tema-body);
    font-family: var(--fonte-padrao);
    width: 100%;
}
.display {
    background-color: var(--tema-header);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    text-align: center;
}

.display2 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: var(--tema-header);
   
   
}
/*#dbc12d*/

.tema{
    background-color: var(--fundo-tema);
    border-radius: 15px;
    padding: 5px;
    color: var(--letra-tema);
}
.nav-cima-logo {
    min-height: 20px;
    margin: 0px 40px 0px 40px;
    padding-bottom: 0;
    display: inline-block;
}
.nav-cima-logo{
    color: var(--letra-conteudo);
}
.tema-box{
    display: inline-block;
    margin: 0px 40px 0px 40px;
}
.nav-baixo-logo {
    min-height: 25px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.nav-baixo-logo > a {
    font-size: 1.2em;
}
.nav-baixo-logo > a:hover {
    background-color: #8F9FBD;
    color: #252931;
    transition-duration: 0.5s;
}
.acco {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    
}
.account {
    color: var(--letra-conteudo);
    text-decoration: none;
}
nav > a {
    text-decoration: none;
    color: var(--letra-conteudo);
    padding-left: 5px;
    padding-right: 5px;
}
header {
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: var(--tema-header);
    
}
header > h1 {
    font-family: var(--fonte-logo);
    letter-spacing: 2px;
    font-size: 3.6em;
    color: var(--letra-conteudo);
    text-align: center;
    width:100%;
    margin: auto;
}
h1>a{
    text-decoration: none;
    
}
.color2{
    color: var(--letra-conteudo);
}
.line {
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    background: #cfd6e4;
    
}

main {
   
    height: 100%;
    padding: 0px 40px 0px 40px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1000px;
    color: var(--letra-tema);
    font-family: var(--fonte-padrao);
}

.flex {
    display: flex;
    width: 100%;
    
}

.topo {
    margin-top: 25px;
    overflow: hidden;
    
}
.p1 {
    width: 64%;
    max-height: 100%;
    
    
}
.line2{
    background-color: var(--cinza, white);
    max-height: 100%;
    width: 1px;
    margin: 0px 15px 0px 15px;
    
}
.p2 {
    width: 35%;
    overflow: auto;
    max-height: 100%;
    
}
.new{
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
    background-color: var(--tema-novidades);
    color: var(--letra-novidades);
}

img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.image-box {
    width: 100%;
}
.image-box2 {
    width: 100%;
    
}
.image-box3 {
    padding-top: 15px;
    margin-left: 30px;
    
    width: 150vh;
}
.image-box4 {
    width: 100%;
    height: 100%;
    margin-left: 10%;
}

.container-direita {
    width: 100%;
    max-height:100%;
    
}
.line4{
    width: 100%;
    height: 1px;
    background-color: var(--cinza, white);
    margin: 15px 0px 15px 0px;
}
.p2::before{
    content: '';
    height: 100%;
    position: absolute;
    left: calc(-1rem - 1px);
    border-left: 1px solid var(--cinza,white);
}
.line3{
    width: 100%;
    height: 1px;
    background-color: var(--cinza, white);
    margin: 15px 0px 0px 0px;
}

.format >p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 25px;
    
}
.format{
    color: var(--letra-conteudo-esquerda);
}
article > h1 {
    margin-top: 15px;
    color: var(--letra-conteudo-esquerda);
}
article {
    font-size: 1.1em;
}
.fixed {
    height: 100%;
    overflow: auto;
}
.order {
    position: relative;
    width: 100%;

}
.flex2 {
    display: flex;
}
.artigo {
    width: 60%;
    height: 100%;
    color: var(--letra-conteudo-esquerda);
}
div > a {
    text-decoration: none;
    color: var(--letra-conteudo);
}

:hover.mostra>h1, 
:hover.mostra>p{
    color: var(--cinza);
}
.baixo {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}
p >a{
    text-decoration: none;
    color: var(--letra-conteudo);
}
p >a:hover{
    color: #dbc12d;
}
footer {
    background-color: var(--fundo-footer);
    color: var(--letra-conteudo);
    text-align: center;
    font-size: 0.8;
    padding: 5px;
    
}
.artigo > h1{
    margin: 15px 0px 15px 0px;
}
.img1-mobile{
    display: none;
}
.img1-mobile {
    display: none;
    overflow: auto;
}
.line-mobile{
    width: 100%;
    height: 1px;
    background-color: var(--cinza, white);
    margin: 15px 0px 15px 0px;
    display: none;
}
.new-mobile2{
    width: 100%;
    margin: 15px 0px 15px 0px;
    display: block;
    text-align: center;
    background-color: var(--tema-header);
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--letra-conteudo);
}
.artigo-mobile>h1{
    margin: 0px 0px 15px 0px;
}
@media (max-width: 1040px) {
    .flex2 {
      display: block; 
    }
    .image-box3{
        width: 50%;
    }
    .order{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .artigo-min{
        order: 2;
        width: 100%;
    }
    .image-min{
        order: 1;
        width: 100%;
        margin: auto;
        
    }
}

@media (max-width:768px){
    body {
        display: flex;
        flex-direction: column;
    }
    header>h1{
        width: 100%;
        }
   
    main {
   
        height: 100%;
        padding: 0px 20px 0px 20px;
        margin: 0 auto;
        min-width: 320px;
        max-width: 900px;
        color: var(--branco);
    }
    .flex {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .nav-cima-logo {
        height: 0px;
        display: inline;
        width: 20%;
    }
    .tema-box{
        display: inline;
        width: 20%;
        height: 0px;
    }
    .acco{
        height: 0px;
        display: inline;
        width: 20%;
    }
    .display{
        min-height: 30px;
    }
    .topo{
        width: 100%;
        margin-top: 25px;
    }
    .p1{
        width: 100%;
    }
    .p2{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .artigo-mobile{
        order: 2;
        width: 100%;
    }
    .artigo-mobile >h1{
        margin-top: 15px;
    }
    .image-box4{
        width: 100%;
        order: 1;
        margin: auto;
    }
    .img1-mobile{
        display: block;
    }
    .img1-pc{
        display: none;
    }
    .image-box-mobile-cima{
        width: 100%;
        
    }
    .imagem-cima-mobile{
        margin-top: 25px;
        border-radius: 0px;
    }
    .topo{
        margin-top: 0px;
    }
    .img1-mobile {
        display: block;
        
    }
    .line-mobile{
        display: block;
    }
    img{
        border-radius: 0px;
    }
    .line{
        margin-top: 5px;
    }
}
  
@media (max-width:360px){

    body{
        width: 360px;
    }
    header{
        max-width: 100%;
        
    }
    .display{
        max-width: 100%;
    }
    .display2{
        max-width: 100%;
    }
    .imagem-box-mobile-cima{
        min-width: 360px;
    }
    .line{
        margin-top: 5px;
    }
}